.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #aa8638;
    color: white;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  